Django==4.2.11
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-filter==23.5
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
factory-boy==3.3.0
Faker==21.0.1
numpy==1.24.4
pipreqs==0.5.0
pillow==10.3.0
social-auth-app-django==5.4.1
